[url "http://"]
	insteadOf = https://
[user]
	name = dawnsong
	email = dawnwei.song@gmail.com
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
[core]
	editor = vim
	pager = most
[color]
	ui = true
[color "diff"]
	meta = blue black bold
